@page "/noteview/{id:int}"
@attribute [Authorize]
@* @inject HttpClient HttpClient *@
@inject ArcheoTrack.Repositories.NotesRepository NotesRepository
@inject NavigationManager NavigationManager

@* <h1>Pogledaj zapis</h1> *@

@if( note != null ) {
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Projekt</label>
        <p>@note.Project</p>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label fw-bold">Datum</label>
        <p>@note.Date.ToString( "dd/MM/yyyy" )</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Objekt</label>
        <p>@note.Object</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Broj</label>
        <p>@note.Number</p>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label fw-bold">Lokacija</label>
        <p>@note.Location</p>
        @if( !string.IsNullOrWhiteSpace( note.Location ) ) {
            <iframe width="100%" height="300" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLji_mHwZ2tfOFO4549SKPQz2qnYYJocA&q=@note.Location"
                    allowfullscreen>
            </iframe>
        }
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Vremenski uvjeti</label>
        <p>@note.Weather</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Nalazi/Rezultati</label>
        <p>@note.Results</p>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label fw-bold">Sadržaj</label>
        <p>@((MarkupString)note.Description)</p>
    </div>
    <div class="mb-3">
        <label for="sketch" class="form-label fw-bold">Skica</label>
        @if( !string.IsNullOrEmpty( note.Sketch ) ) {
            <img src="@note.Sketch" alt="Sketch" style="max-width: 100%; height:400px;" />
        }
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }
    private Note note;

    protected override async Task OnInitializedAsync() {
        note = await NotesRepository.GetNoteAsync(id);
    }
}
