@page "/noteview/{id:int}"
@using ArchaeoTrack.Interfaces
@attribute [Authorize]
@* @inject HttpClient HttpClient *@
@inject ArchaeoTrack.Repositories.NotesRepository NotesRepository
@inject NavigationManager NavigationManager
@inject IJSRuntime js;
@inject IFileDownloader fileDownloader;

@* <h1>Pogledaj zapis</h1> *@

@if( note != null ) {
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Projekt</label>
        <p>@note.Project</p>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label fw-bold">Datum</label>
        <p>@note.Date.ToString( "dd/MM/yyyy" )</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Objekt</label>
        <p>@note.Object</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Ljudi na projektu</label>
        <p>@note.People</p>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label fw-bold">Lokacija</label>
        <p>@note.Location</p>
        @if( !string.IsNullOrWhiteSpace( note.Location ) ) {
            <iframe width="100%" height="300" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLji_mHwZ2tfOFO4549SKPQz2qnYYJocA&q=@note.Location"
                    allowfullscreen>
            </iframe>
        }
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Vremenski uvjeti</label>
        <p>@note.Weather</p>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label fw-bold">Nalazi/Rezultati</label>
        <p>@note.Results</p>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label fw-bold">Sadržaj</label>
        <p>@((MarkupString)note.Description)</p>
    </div>
    <div class="mb-3">
        <label for="sketch" class="form-label fw-bold">Skica</label>
        @if( !string.IsNullOrEmpty( note.Sketch ) ) {
            <img id="sketchImage" src="@note.Sketch" alt="Sketch" style="max-width: 100%; height:400px;" />
            <br />
            <button class="btn btn-primary mt-2" @onclick="DownloadSketch">
                <i class="bi-download"></i> Preuzmi skicu
            </button>
        }
        else {
            <p>No sketch available.</p>
        }
    </div>


}

@code {
    [Parameter]
    public int id { get; set; }
    private Note note;

    protected override async Task OnInitializedAsync() {
        note = await NotesRepository.GetNoteAsync(id);
    }

    private async Task DownloadSketch() {
        try
        {
            if (!string.IsNullOrEmpty(note.Sketch))
            {
                // Call the JavaScript function to download the image
                // await js.InvokeVoidAsync("downloadImage", note.Sketch, "skica.png");
                // var downloader = DependencyService.Get<IFileDownloader>();
                // downloader.DownloadFile(note.Sketch);
                fileDownloader.DownloadFile(note.Sketch);
                await App.Current.MainPage.DisplayAlert("Preuzimanje dovršeno", "Preuzeli ste sliku skice na uređaj", "U redu");
            }
        }
        catch( Exception ex ) {
            Console.WriteLine( $"Error occured while downloading sketch: {ex.Message}" );
        }
    }
}
